# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.env.*